body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: radial-gradient(black, red);
    height: 100vh;
}
h1 {
    color: wheat;
    text-align: center;
    margin-bottom: 65px;
    font-size: 40px;
}
ul li a {
    text-decoration: none;
    font-size: 1.4em;
    background-color: rgba(255, 255, 255, 0.384);
    padding: 6px 12px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.966);
    font-weight: bolder;
}
ul li a:hover {
    background-color: rgba(255, 255, 255, 0.733);
    color: rgba(65, 33, 33, 0.966);
}
ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 35px;
}